* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Popins", sans-serif;
}

html,
body {
  font-size: 15px;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titles {
  text-align: center;
  padding: 40px;
}
.titles h1 strong {
  color: hsl(212, 6%, 44%);
  font-weight: 200;
}
.titles h1,
h2 {
  color: hsl(234, 12%, 34%);
  font-weight: 600;
}
.titles p {
  margin-top: 18px;
  font-weight: 200;
}
p {
  color: hsl(212, 6%, 44%);
}
footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #444;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
  margin: 40px auto;
  justify-items: center;
  align-items: center;
  position: relative;
  max-width: 900px;
  width: 100%;
  gap: 5px;
}

.grid-supervisor {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 2x;
  margin-right: 18px;
  border: 1px solid transparent;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-block-start: hsl(180, 62%, 55%);
  border-top: 5px solid hsl(180, 62%, 55%);
}
.grid-supervisor img {
  align-self: flex-end;
  margin-top: 20px;
}
.grid-teambuilder {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: -100px;

  border: 1px solid transparent;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-top: 5px solid hsl(0, 78%, 62%);
}
.grid-teambuilder img {
  align-self: flex-end;
  margin-top: 20px;
}
.grid-karma {
  grid-column: 2;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid transparent;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-top: 5px solid hsl(34, 97%, 64%);
  margin-top: -100px;
}
.grid-karma img {
  align-self: flex-end;
  margin-top: 20px;
}

.grid-calculator {
  grid-column: 3;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid transparent;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-top: 5px solid hsl(212, 86%, 64%);
  margin-left: 18px;
}
.grid-calculator img {
  align-self: flex-end;
  margin-top: 20px;
}
